@font-face {
    font-family: 'Press Start 2P';
    src: url(./PressStart2P-Regular.woff) format('woff');
    font-weight: normal;
    font-display: swap;
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Inter-Variable';
    font-style: normal;
    src:
      local('Inter-Regular'),
      url(./Inter-Variable.woff2) format('woff2');
  }/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
