:root {
    --accent-font: 'Press Start 2P', sans-serif;
    --main-font: 'Inter-Variable', sans-serif;
    --bg-color:#FFFFFF;
    --main-color:#000000;
    --accent-color: #000000;
    --card-font-weight:400;
    --title-font-weight:700;
    --bg-image: url(../svg/pattern-light.svg);
    --card-width: clamp(375px, 100%, 700px);
    --heart-border: #000000;
    --heart-fill: #FF0000;
}

@media (width<=375px) {
    :root {
        --card-width: 100%;
    }
}
/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
